body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #ffffff;
    width: 100%;
    height: 100%;
  
    background: #161616;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
}

a {
    color: #ffffff;
    text-decoration: none;
}

span {
    color: #fb4c28;
}

hr {
    margin: 20px 0px 20px 0px;
}
h1{
    font-size: 40px;
}
h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

.emoji {
    width: 40px;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

.lienicon {
    align-items: center;
    text-align: center;
    display: flex;
    gap: 10px;
    transition: 0.4s;
}

.lienicon svg {
    transition: color 0.3s;
}

.lienicon:hover,
.lienicon:hover svg,
.lienicon:hover a {
    color: #fb4c28;
    transform: scale(1.1, 1.1);
}

.barrelateral {
    align-items: center;
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #BEBEBE;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 60px 20px 20px 20px;
}

.barrelateral>section>.barrelaterallien {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.barrelateraltxt {
    font-size: 23px;
}

.footerlateral {
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.container2 {
    padding: 30px;
    position: sticky;
    top: 0;
    /* positionne le haut de l'élément contre le haut de la fenêtre de visualisation */
    overflow-y: auto;
    /* Permet le défilement interne si le contenu dépasse la hauteur de la fenêtre */
    overflow-x: hidden;
    max-height: 100vh;
    /* Assure que la section ne dépasse pas la hauteur de la fenêtre */
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.titre {
    align-items: center;
    display: flex;
    gap: 10px;
}

.accroche {
    font-weight: lighter;
}

.headerdroit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex>a {
    cursor: pointer;
    color: #fb4c28;
    font-size: 20px;
    font-weight: bold;
}


/* cartes */
.cartes {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carte {
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
    background: linear-gradient(180deg, rgba(251,76,40,1) 8%, rgba(1,0,14,1) 99%);
    border-radius: 30px;
    background-size: cover;
    width: 100%;
}

.infocarte {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.titrecarte {
    font-size: 35px;
}

.descriptioncarte {
    margin-bottom: 40px;
}

.savoirplus {
    background-color: #171717;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    width: fit-content;
}

/* CREDITS */
.creditpersonne{
    text-align: center;
}
.creditcontainer{
    display: flex;
    justify-content: space-evenly;
}
.ppcontainer{
    width: 350px;
}
.pp{
    width: 100%;
    height: auto;
    border-radius: 10%;
}
/* bouttoncours */
.boutoncours{
    padding: 20px;
    transition: 0.4s;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}
.boutoncours:hover{
    color: #fb4c28;
    border-radius: 20px;
    transform: scale(1.02, 1.02);
}
/* iframe */
iframe{
    border-radius: 30px;
    border-style: solid;
    border-color: #fb4c28;
    margin: 30px;
    border-width: 3px;
}
/* ANIMATIONS */
.slide-in-left {
    -webkit-animation: slide-in-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-6 16:34:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-6 16:35:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
